body {
	--main-bg-color: rgb(32, 32, 32);
	--comment-text-color: rgb(7, 7, 7);
	background-color: var(--main-bg-color);
	margin: 0px;
}

#highlightedDiv,
.highlightedText,
.split,
.highlightComment {
	font-size: 20px;
}

#highlightedDiv {
	z-index: 15;
	position: relative;
	/* font-family: Nunito; */
	/* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
	cursor: pointer;
	overflow-wrap: break-word;
	white-space: normal;
	display: inline;
	color: rgb(255, 255, 255);
	/* line-height: 2.5; */
}

.highlightedText,
.highlightComment {
	opacity: 0.2;
}

/* Calibrate positions */
.split,
.highlightComment,
.floatingForm {
	left: 0px;
	top: 0px;
}

.split,
.highlightComment,
.highlightedText {
	transition: opacity 0.3s cubic-bezier(0.62, 0.16, 0.13, 1.01);
}

.highlightedText {
	position: absolute;
	z-index: 10;
	/* TODO this needs to be font size + 1 */
	height: 21px;
	margin-top: 6px;
	border-radius: 2px;
}

.highlightComment {
	position: absolute;
	color: var(--comment-text-color);
	z-index: 1;
	opacity: 0%;
	border-radius: 2px;
}

.split {
	position: absolute;
}

.split:hover {
	opacity: 1;
}

#commentFormHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#selectionRange {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	align-self: flex-end;
}

.floatingForm {
	position: absolute;
	font-size: 16px;
	background-color: black;
	color: white;
	width: 350px;
	height: min-content;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-radius: 5px;
	border: solid;
	z-index: 15;
	padding-top: 6px;
	padding-inline: 6px;
	padding-bottom: 4px;
	border-top-width: 0px;
	border-color: white;
}

.floatingForm > form {
	display: flex;
	flex-direction: column;
}

.floatingForm > form > textarea {
	background-color: black;
	color: white;
	outline: transparent !important;
}

.floatingForm > form > button {
	align-self: flex-end;
}

::selection {
	background: darkgreen;
}
